---
---
@import "{{ site.theme }}";

img {
    padding: 0;
    margin: 0;
    border: 0;
    max-width: 100%;
}

#header_wrap {
    background: url(https://source.unsplash.com/random/2000x1000);
}

figure.image {
    border: 2px solid #111;
    padding: 10px;
}

figcaption {
    text-align: center;
    font-size: small;
}